:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
<<<<<<< HEAD
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
=======
  background: red;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E');
}

img {
  width:30px;
  position:absolute;
  bottom:20px;
  right:20px;
  -webkit-filter: grayscale(100%)brightness(3); 
  filter: grayscale(100%)brightness(3);
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  margin-top: 45px;
  margin-left: -170px;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  cursor: pointer;
  background: transparent;
  border: 0px;
}

div {
  height: 0px;
  border: 1.5px solid #fff;
  width: 22px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  background:#fff;
}

button:hover {
  transition-delay: 100ms;
  transform: scale(1.1);
}

button:hover div:nth-child(3):before {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: red;
}

button:hover div {
  border: 2px solid #fff;
  height: 9px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  animation: atom 300ms linear 1;
  width: 25px;
  top: 0px;
  background:transparent;
}

button:focus {
  outline: 0px;
}

div:nth-child(1) {
  top: 0px;
}

div:nth-child(2) {
  top: 8px;
}

div:nth-child(3) {
  top: 16px;
}

div:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: '';
  border: 2px solid #fff;
  display: block;
  position: relative;
  top: 0.25px;
}

button:hover div:nth-child(1) {
  transform: rotate(-33deg);
}

button:hover div:nth-child(2) {
  transform: rotate(90deg);
}

button:hover div:nth-child(3) {
  transform: rotate(33deg);
}

button:hover div:nth-child(3):before {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
  ;
}

button:active:hover div:nth-child(3):before,
button:active div:nth-child(3):before,
button:active div:nth-child(2) {
  opacity: 0;
  transition: all 200ms;
}

button:active div {
  border: 1.5px solid #fff;
  height: 0px;
  border-radius: 0%;
  margin-left: -1px;
  margin-top: 6px;
  animation: division 300ms linear 1;
  width: 25px;
  top: 0px;
}

button:active div:nth-child(2) {
  width: 0px;
}

button:active div:nth-child(3) {
  transform: rotate(45deg);
}

button:active div:nth-child(1) {
  transform: rotate(-45deg);
}

@keyframes atom {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes division {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0%;
    top: 60%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
>>>>>>> main
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}